.notfound
{
  width: 100%;
  height: 88%;
  background-color: rgb(215, 214, 214);
}
.text
{
  font-family: Verdana;
  font-size: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
#img{
margin-left: 40%;
}
.btnInicio
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
