<div class="buscador">
  <div class='buscar'>

      <h1 class="titulo">Busca tus canciones,artistas...</h1>
      <input type="text" class="ancho"  matInput autocomplete="off"  #search>
      <button type="submit" class="btnBuscar" mat-raised-button color="Black" (click)="getDatos(search.value)">Buscar</button>

  </div>
              <div class="res1">

                         <div  class='resultado' *ngFor="let music of musica ">
                                <br>
                                <p class="titBusqueda"> {{music['title']}}</p>
                                <img id='picture' [src]="[music.album.cover_medium]">
                                <br>
                               <audio style="margin-bottom: 10px;" [src]="[music.preview]" controls="controls" type="audio/mpeg" preload="preload"></audio>

                                <div *ngIf="comprobar(music.id)" class="like">
                                      Añadir a favoritos
                                      <button class="heart" mat-fab color="warn"  (click)="savedata(music.id)">
                                        <mat-icon >favorite</mat-icon>
                                      </button>
                                </div>

                        </div>

              </div>

             <!--  <button *ngIf="next!=undefined" (click)="loadmore(next)"> Load More </button> Este es el boton para cargar más
              pero no funciona   ya que su uso en la api esta puesto con método de pago  -->


</div>
